/ src/index.css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-black text-gray-900 dark:text-white;
  }
}

@layer utilities {
  .animate-grid {
    animation: grid 15s linear infinite;
  }
  
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}