@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-black text-gray-900 dark:text-white;
  }
}

/* Grid Animation */
@layer utilities {
  .animate-grid {
    animation: grid 15s linear infinite;
  }

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/* Blob animation */
@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(20px, -30px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 8s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}








@keyframes scan {
  0% { transform: translateY(0); opacity: 0.8; }
  100% { transform: translateY(200px); opacity: 0.1; }
}
.animate-scan {
  animation: scan 2s linear infinite;
}



